.content{
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.content > div{
    width: 300px;
    padding: 10px;
}

.content > div .body{
    padding: 5px 10px;
    color: black;
    font-size: 17px;
}

.content > div img{
    width: 100%;
}

.content > div p{
    margin: 0;
}